# Supabase Configuration
VITE_SUPABASE_URL=yhttps://vargyhqawmllnvzapujq.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZhcmd5aHFhd21sbG52emFwdWpxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI2NDIyMTIsImV4cCI6MjA4ODIxODIxMn0.-3PtN5TCRt_Vy7ed-lzavTmxDr1D0RoQVMqMqfp-85E
# JWT Secret
JWT_SECRET=your_jwt_secret
